.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form{
    padding: 5%;
    background: #55a6fd;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.button
{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
}
}
.login-form .btnSubmit{
    font-weight: 600;
    color: #021325;
    background-color: #fff;
}

button:hover{
    color: #00070e;

}

.btn {
    color: rgb(243, 99, 99);
    size: 20px;
}

/* .error {

    background: #F2DEDE;
 
    color: #0c0101;
 
    padding: 10px;
 
    width: 95%;
 
    border-radius: 5px;
 
    margin: 20px auto;
 
 } */